@page "/about"

@inject StaticData Data

<div class="content-container">
    <div class="content-title-group not-found">
        <h2 class="title">Feature Wish List</h2>
        <p>
            Editable grid to allow new oracle inputs. 
        </p>
        <br />
        <h2 class="title">Resources</h2>
        <ul>
            <li>
                <a href="https://github.com/MicrosoftDocs/mslearn-staticwebapp-dotnet">
                    Base Tutorial Code in GitHub
                </a>
            </li>
            <li>
                <a href="https://github.com/lynn0702/CortexUtilities">
                    Project Source
                </a>
            </li>
            
        </ul>
    </div>
</div>

@code
{
    Random _random = new Random();

    private IEnumerable<CortexTrait> GetRandomTraits(string[] types, int count)
    {
        if (Data.SceneTraitList == null) return new List<CortexTrait>();

        return types.Length == 0 
            ? Data.SceneTraitList.GetRandomElements(count).Select(st => new CortexTrait{Name = st.Name, Rating = _random.Next(3, 7)*2}) 
            : Data.SceneTraitList.Where(t => types.Contains( t.Type)).GetRandomElements(count).Select(st => new CortexTrait{Name = st.Name, Rating = _random.Next(3, 7)*2});
    }
}
