@page "/about"
<div class="content-container">
    <div class="content-title-group not-found">
        <h2 class="title">Feature Wish List</h2>
        <p>
            Editable grid to allow new oracle inputs. 
        </p>
        <br />
        <h2 class="title">Resources</h2>
        <ul>
            <li>
                <a href="https://github.com/MicrosoftDocs/mslearn-staticwebapp-dotnet">
                    Base Tutorial Code in GitHub
                </a>
            </li>
            <li>
                <a href="https://github.com/lynn0702/CortexUtilities">
                   Project Source
                </a>
            </li>
            
        </ul>
    </div>
</div>