@page "/about"

@inject StaticData Data

<div class="content-container">
    <div class="content-title-group not-found">
        <h2 class="title">Feature Wish List</h2>
        <p>
            Editable grid to allow new oracle inputs. 
        </p>
        <br />
        <h2 class="title">Resources</h2>
        <ul>
            <li>
                <a href="https://github.com/MicrosoftDocs/mslearn-staticwebapp-dotnet">
                    Base Tutorial Code in GitHub
                </a>
            </li>
            <li>
                <a href="https://github.com/lynn0702/CortexUtilities">
                    Project Source
                </a>
            </li>
            
        </ul>
        <br />
        <h2>Icons</h2>
        Icons used through this app are sourced from google material font and games-icon.net. 
        
        Icons provided under the Creative Commons 3.0 BY or CC0 if mentioned below.

        Specific mention of face icons from the following artists. 
        
        <ul>
            <li>
                <a href="http://lorcblog.blogspot.com">
                    Lorc
                </a>
            </li>
            <li>
                <a href="https://delapouite.com">
                    Delapouite
                </a>
            </li>
        <li>- Cathelineau</li>
        <li>
            <a href="http://berandas.deviantart.com">
                Lord Berandas
            </a>
        </li>
        <li>
            <a href="http://darkzaitzev.deviantart.com">
                DarkZaitzev
            </a>
        </li>
        <li>
            <a href="http://opengameart.org/content/95-game-icons">
                Sbed
            </a>
        </li>
        <li > - Skoll</li>

            
        </ul>
        <br/>

        More info and icons available at:
        <a href="https://game-icons.net">
            game-icons.net
        </a>

    </div>
</div>

@code
{

}
