@page "/"


<PageTitle>Home</PageTitle>

<h1>Lynn's Random World of Cortex!</h1>

This site is a work in progress. I've got some working demos for random creation cards for CortexRPG.com over there. The default data ia for a weird west setting called Rail's End. 

The pool of Scene Traits are editable. GMC option editing coming soon. 

@code {
    protected override void OnInitialized()
    {

    }
}