@page "/StoryEngine"

<h3>StoryEngine</h3>
<div class="simplecharacter">
  <div class="agent"><RotatingSquare></RotatingSquare></div>
  <div class="engine"><RotatingSquare></RotatingSquare></div>
  <div class="anchor"><RotatingSquare></RotatingSquare></div>
  <div class="conflict"><RotatingSquare></RotatingSquare></div>
</div>



@code {

}
