
<span class="diceLabel @labelCss @labelPosition">@labeltext</span>
<img  class="diceIcon @css"  @onclick="IncrementDie" @oncontextmenu="DecrementDie" @onclick:stopPropagation="true"  @oncontextmenu:preventDefault="true" src="images/d@(die).svg" alt="d@(die)"/>



@code {
    [Parameter]
    public int die  { get; set; } = 4;

    [Parameter]
    public string css  { get; set; } = "";

    [Parameter]
    public string labelCss  { get; set; } = "";

    [Parameter]
    public string labelPosition  { get; set; } = "left";

    [Parameter]
    public string labeltext  { get; set; } = "";

    void IncrementDie()
    {
        die = die < 12 ? die+2 : 2;
        return;
    }

    void DecrementDie()
    {
        die = die > 2 ? die-2 : 12;
        return;
    }
}
