@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div>@ErrorMessage</div>
}
else if (CortexTraits != null && CortexTraits.Any())
{
    <ul class="list">
        @foreach (var CortexTrait in CortexTraits)
        {
            <li role="presentation">
                <div class="card">
                    <CardContent Name="@CortexTrait.Name"/>

                    <footer class="card-footer">

                        <ButtonFooter Class="delete-item"
                                      IconClasses="fas fa-trash"
                                      OnClick="@(async _ => await DeleteCortexTrait.InvokeAsync(CortexTrait))"
                                      Label="Delete" />

                        <ButtonFooter Class="edit-item"
                                      IconClasses="fas fa-edit"
                                      OnClick="@(async _ => await SelectCortexTrait.InvokeAsync(CortexTrait))"
                                      Label="Edit" />

                    </footer>

                </div>

            </li>
        }
    </ul>
}
else
{
    <div>Loading data...</div>
}
@code {
    [Parameter] public IEnumerable<CortexTrait> CortexTraits { get; set; }
    [Parameter] public EventCallback<CortexTrait> DeleteCortexTrait { get; set; }
    [Parameter] public EventCallback<CortexTrait> SelectCortexTrait { get; set; }
    [Parameter] public string ErrorMessage { get; set; }
}