<div class="column is-2">
    <nav class="menu">
        <p class="menu-label">Menu</p>
        <ul class="menu-list">
            <NavLink href="/" Match="NavLinkMatch.All" ActiveClass="active-link">
                Home
            </NavLink>
            
            <NavLink href="/scenecards" Match="NavLinkMatch.All" ActiveClass="active-link">
                Scene Cards
            </NavLink>
            
            <NavLink href="/gmccards" Match="NavLinkMatch.All" ActiveClass="active-link">
                GMC Cards
            </NavLink>

            <NavLink href="/scenetraiteditor" Match="NavLinkMatch.All" ActiveClass="active-link">
                Scene Trait Editor
            </NavLink>
            
            <NavLink href="/gmctraiteditor" Match="NavLinkMatch.All" ActiveClass="active-link">
                GMC Trait Editor
            </NavLink>

            <NavLink href="/about" ActiveClass="active-link">
                About
            </NavLink>
            

        </ul>
    </nav>
</div>